{% extends 'base.html.twig' %}

{% block title %}Sorteo index{% endblock %}

{% block body %}
    <h1>Sorteos</h1>

    <table class="table">
        <thead>
            <tr>
            
                <th>Nombre</th>
                <th>FechaIni</th>
                <th>Precio_papeleta</th>
                <th>Cantidad_papeletas</th>
                <th>FechaFin</th>
                <th>NumPremiado</th>
             
            </tr>
        </thead>
        <tbody>
        {% for sorteo in sorteos %}
            <tr>
               
                <td>{{ sorteo.nombre }}</td>
                <td>{{ sorteo.fechaIni ? sorteo.fechaIni|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sorteo.precioPapeleta }}</td>
                <td>{{ sorteo.cantidadPapeletas }}</td>
                <td>{{ sorteo.fechaFin ? sorteo.fechaFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sorteo.numPremiado }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_sorteo_new') }}">Crea un nuevo sorteo</a>
{% endif %}
{% endblock %}
